.contacts h1{
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
.contacts .contact-icons{
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0 auto;
    position: relative;
    left: 30%;
}
.contacts img{
    width: 5%;
    height: 10%;
    margin: 2%;
    margin-top: 100px;
} 
.contacts h1{
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
.contacts .contact-icons{
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0 auto;
    position: relative;
    left: 30%;
}
.contacts img{
    width: 5%;
    height: 10%;
    margin: 2%;
    margin-top: 100px;
}